//general colors
$custom-dark-gray: #6C6C73;
$customWhiteBackground: #F8F8F8;
$abortTextColor: #E390C3;
$winScreenTextColor: #A6A6AE;
$newGameBackgroundcolor: #21C3A8;
$footerTextColor: #9C9CAC;

//colors when game is running
$gameBackgroundActive: #8A85BD;
$borderColorWhenGameIsRunning: #746FA7;

//colors when game is NOT running
$gameBackgroundInactive: #ECECEE;
$borderColorWhenGameIsNotRunning: #E7E7EA;

$gameBoxSize: 500px;
$headerAndFooterHeight: 70px;
$paddingBetweenHeaderFooterAndGamefield: 20px;
$totalGameFieldSize: $gameBoxSize - 2*$headerAndFooterHeight - 2*$paddingBetweenHeaderFooterAndGamefield;

html, body {
	font-family: "Segoe UI", "Letter Gothic Std", Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: $custom-dark-gray;

	#app {
		display: grid;
		place-items: center;
		width: 100%;
		height: 100%;

		> div {
			display: grid;
			place-items: center;
			width: $gameBoxSize;
			height: $gameBoxSize;
			grid-gap: $paddingBetweenHeaderFooterAndGamefield;

			&.gameIsNotRunning {
				background-color: $gameBackgroundInactive;

				.header {
					grid-template-columns: auto;
					grid-template-rows: auto;
					grid-template-areas: "title";
				}

				.wrapper {
					div {
						border-right-color: $borderColorWhenGameIsNotRunning;
						border-bottom-color: $borderColorWhenGameIsNotRunning;

						&.empty {
							cursor: default;
						}

						svg {
							display: none;
						}
					}
				}
			}

			&.gameIsRunning {
				background-color: $gameBackgroundActive;

				.header {
					grid-template-columns: 100px auto 100px;
					grid-template-rows: auto;
					grid-template-areas: ". title abort";
				}

				.wrapper {
					div {
						border-right-color: $borderColorWhenGameIsRunning;
						border-bottom-color: $borderColorWhenGameIsRunning;
					}
				}
			}

			.header, .footer {
				height: $headerAndFooterHeight;
				background-color: $customWhiteBackground;
				width: 100%;
			}

			.header {
				display: grid;
				place-items: center;

				.title {
					color: $custom-dark-gray;
					font-size: 2.6em;
					grid-area: title;
				}

				.abort {
					grid-area: abort;
					color: $abortTextColor;
					text-decoration: underline;
					cursor: pointer;
				}
			}

			.footer {
				color: $footerTextColor;
				font-size: 1.4em;
				display: grid;
				place-items: center;

				.newGame {
					background-color: $newGameBackgroundcolor;
					color: white;
					padding: 7px 50px;
					border-radius: 50px;
					cursor: pointer;
				}

				.userTurn {
					display: grid;
					grid-template-rows: auto;
					grid-template-columns: auto auto;
					place-items: center;

					svg {
						width: 40px;
						height: 40px;
					}
				}
			}

			.winScreen {
				display: grid;
				grid-template-areas: "." "winner" "aside";
				grid-template-columns: auto;
				grid-template-rows: auto min-content auto;
				justify-items: center;
				width: 100%;
				height: $totalGameFieldSize;
				grid-gap: 10px;
				font-size: 2.3em;
				color: $winScreenTextColor;

				.winner {
					grid-area: winner;

					svg {
						height: 160px;
						width: 100%;
					}
				}

				aside {
					grid-area: aside;
				}
			}

			.wrapper {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				place-items: center;
				width: $totalGameFieldSize;
				height: $totalGameFieldSize;
				overflow: hidden;
				grid-gap: 5px;

				&.hide {
					display: none;
				}

				div {
					border: 10px solid rgba(0, 0, 0, 0);
					width: 100%;
					height: 100%;
					display: grid;
					place-content: center;
					font-weight: 900;
					font-size: 4em;

					&.empty {
						cursor: pointer;
					}

					&:nth-child(3n) {
						border-right: none;
					}

					&:nth-child(3n - 2) {
						border-left: none;
					}

					&:nth-last-child(-n + 3) {
						border-bottom: none;
					}

					&:nth-child(-n + 3) {
						border-top: none;
					}

					svg {
						width: 70px;
						height: 70px;
					}
				}
			}
		}
	}
}